.item{
    background-color: crimson;
    color: white;
    height: 20px;
    width: 50px;
    text-align: center;
    padding: 30px;
    /* transition-duration: 5s;
    transition-property: width; */    /* which property transition */
    /* transition-timing-function: ease-out;    /* speed */
     
    transition: width 3s ease;
    transition-delay: 2s;

}
.item:hover{
    background-color: aqua;
    width: 100%;
    height: 80px;
}