.products{
    border: 2px solid black;
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    flex-direction: column-reverse;
}

.item{
    background-color: rgb(245, 88, 88);
    margin: 20px;
    padding: 30px;
    text-align: center;
    width: 50px;
    
   

}