.item{
    background-color: crimson;
    color: white;
    height: 20px;
    width: 50px;
    text-align: center;
    padding: 30px;
    transition: transform 2s ease;
   

}
/* Translate-move */
/* .item:hover{
    /* background-color: aqua; */
    /* translate */         /* x     y*/
    /* transform: translate(100px, -50px);  top right */  /* +x right -x left -y top  +ybottom*/
    /* transform: translate(-100px ,-50px);   top left  */
    /* transform: translate(10px, 50px); bottom right */
    /* transform: translate(-100px, 50px); bottom left /
} */

/* Scale-resize */
/* .item:hover{
    /* transform: scale(2.9); */
    /* transform: scaleX(5); */
    /* transform: scaleY(5); */
    /* transform: scaleZ(5); */
    /* transform: scale3d(1.5, 1.5, 1); x y z /
} */

/* rotate-rotate */

/* .item:hover{
    /* transform: rotate(50deg); */
    /* transform: rotate(90deg); */
    /* transform: rotate(150deg); */
    /* transform: rotate(360deg); /
} */

/* skew-tilt */
/* .item:hover{
  /* transform: skew(0, 20deg); */
  /* transform: skew(20deg, 0); */  /*x y*/
  /* transform: skewX(25deg) */   /*only horizontal*/
  /* transform: skewY(40deg); */   /*only vertical*/
  /* transform: scale(5) rotate(360deg); /
} */
