.item{
    background-color: crimson;
    color: white;
    height: 20px;
    width: 50px;
    text-align: center;
    padding: 30px;
    animation-name: move;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes move {
    0%{
        transform: translate(150px);
        background-color: aquamarine;
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: scale(2.5);
    }
    
}