.product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 200px ;
    margin: 10px;
    padding: 20px;
    gap: 150px;
    
    
}

.items {
    background-color: rgb(121, 116, 116);
    color: white;
    width: 150px;
    height: 280px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 4px black;
    
}