.products{
    border: 2px solid black;
    position: relative;
    left: 300px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */ /*start from bottom element*/
    /* flex-wrap: nowrap; */
}

.item{
    background-color: rgb(245, 88, 88);
    margin: 20px;
    padding: 30px;
    text-align: center;
    
}