.container{   
    width: 300px;
    height: 400px;
    position: relative;
    left: 600px;
    text-align: center;
    margin: 50px;
   
}
.container1{
    background-color: aqua;
    padding: 50px;
    z-index: 2;
  
    
}
.container2{
    background-color: blueviolet;
    padding: 50px;
    position: relative;
    bottom: 40px;
    z-index: 3;
    
}
.container3{
    background-color: rgb(242, 242, 15);
    padding: 50px;
    position: relative;
    bottom: 80px;
    z-index: 1;
    
}
.container4{
    background-color: coral;
    padding: 50px;
    position: relative;
    bottom: 120px;
    z-index: 5;
    

}
.container5{
    background-color: crimson;
    padding: 50px;
    position: relative;
    bottom: 160px;
    z-index: 4;
    
}