.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.mobileimage{

    img{
        width: 265px;
        margin: 5px;
        position: relative;
        left: 30px;
    

    }
}
.mobile{
    margin: 100px;
    
    padding: 10px;
}
.mobiletext{
    text-align: center;
    padding: 10px;
    position: relative;
    top: 40px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.mobile{
    box-shadow: 2px 2px 8px black;
    width: 300px;
    height: 300px;
    

}


button{
    background-color: rgb(20, 194, 217);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(93, 93, 195);
}
h2{ 
    border: 3px solid none;
    box-shadow: 3px 3px 5px black;
    border-radius: 5px;
    padding: 20px;
    text-shadow: 2px 2px 3px rgb(42, 129, 228);
    width: 500px;
    text-align: center;
    font-family: cursive;
    font-size: 40px;
    position: relative;
    top: 50px;
    left: 850px;
}

.top{
    transition-duration: 3s;
    transition-property: all,move;
    transition-timing-function: ease;
    animation-iteration-count: infinite;
    
}
h2:hover{
    transform: scaleX(1.2);
}

.mobileimage{
    animation: run 3s ease-out infinite;
   }
@keyframes run {
    0%   { transform: translate(0, 0); }
    50%  { transform: translate(-20px, 10px); }
    100% { transform: translate(0, 0); }
}

