.flag{
  width: 500px;
  height: 300px;
  border: 2px solid none;
  align-items: center;
}
.flag div{
  height: 33.4%;
}



.orange{
    background-color: orangered;
}
.white{
    background-color: whitesmoke;
}
.green{
    background-color: green;
   

}
.bluee{
    background-color: blue;
    border: 45px solid blue;
    margin: 5.5px 0px 0px 210px;
    border-radius: 100%;
    position: absolute;
   
    
}
#img{
  width: 70px;
  margin: 15.9px 0px 0px 220px;
  border-radius: 200%;
  position: absolute;
  
  
}

 