table,th,td{
   
    font-family: sans-serif;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    padding: 10px;
}
th{
    background-color: rgb(216, 83, 34);
    font-weight: bold;
    color: white;
    height: auto;
    padding: 20px;
    
}
td{
    width: 200px;
    height: auto;
}
tfoot{
    background-color: rgb(253, 249, 249);
}
span{
    color: rgb(214, 59, 59);
    font-weight: bold;
    height: 300px;

}
.day{
    padding: 1px;
}
thead>tr>th{
    padding: 10px;
}
