/* India */
body {
    height: fit-content;
    width: fit-content;

}

.text h3 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.india {
    display: flex;
    border: 3px solid whitesmoke;
    box-shadow: 0 0 10px black;
    border-radius: 25px;

    .one>img {
        width: 200px;
        height: 200px;
        margin-left: 1350px;
        margin-top: -40px;

    }

    .indianflag>img {
        margin-top: 11px;
        margin-left: 15px;
        border-radius: 20px;

    }

    span {

        width: 210px;
        position: relative;
        top: 30px;
        left: 1100px;
        font-family: cursive;
        font-size: 30px;
        font-weight: 200;


    }


}

/* united states*/
.unitedstates {
    display: flex;
    border: 3px solid whitesmoke;
    box-shadow: 0 0 10px black;
    flex-direction: row-reverse;
    border-radius: 25px;

    .two>img {
        width: 200px;
        height: 200px;
        margin-right: 1250px;
        margin-top: -40px;
        margin-left: 15px;

    }

    .unitedstatesflag>img {
        margin-top: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
        border-radius: 20px;

    }

    span {

        width: 210px;
        position: relative;
        top: 35px;
        left: 280px;
        font-family: cursive;
        font-size: 30px;
        font-weight: 200;

    }
}

/* united kingdon */
.unitedkingdom {
    display: flex;
    border: 3px solid whitesmoke;
    box-shadow: 0 0 10px black;
    border-radius: 25px;

    .three>img {
        width: 200px;
        height: 200px;
        margin-left: 1350px;
        margin-top: -40px;

    }

    .unitedkingdomflag>img {
        margin-top: 14px;
        margin-left: 15px;
        border-radius: 20px;

    }

}

span {

    width: 210px;
    position: relative;
    top: 38px;
    left: 1140px;
    font-family: cursive;
    font-size: 30px;
    font-weight: 200;

}

/* canada */
.canada {
    display: flex;
    border: 3px solid whitesmoke;
    box-shadow: 0 0 10px black;
    flex-direction: row-reverse;
    border-radius: 25px;

    .four>img {
        width: 200px;
        height: 200px;
        margin-right: 1250px;
        margin-top: -40px;
        margin-left: 15px;

    }

    .canadaflag>img {
        margin-top: 20px;
        margin-right: 15px;
        margin-bottom: 10px;
        border-radius: 20px;

    }

    span {

        width: 210px;
        position: relative;
        top: 35px;
        left: 280px;
        font-family: cursive;
        font-size: 30px;
        font-weight: 200;

    }
}

/* Australia */
.australia {
    display: flex;
    border: 3px solid whitesmoke;
    box-shadow: 0 0 10px black;
    border-radius: 25px;

    .five>img {
        width: 200px;
        height: 200px;
        margin-left: 1350px;
        margin-top: -40px;

    }

    .australiaflag>img {
        margin-top: 18px;
        margin-left: 15px;
        border-radius: 20px;

    }

    span {

        width: 210px;
        position: relative;
        top: 38px;
        left: 1040px;
        font-family: cursive;
        font-size: 30px;
        font-weight: 200;

    }
}