body{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../IMAGE/Background_image.jpg);
    background-repeat: no-repeat;
    min-width: 1000px;
    min-height: 1050px ;
    background-size:1200px 1600px;
    background-attachment: fixed;
    background-position-x: 240px;
    zoom: 33%;
    
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 15px;
    column-gap: 10px;
    width: 500px;
    height: 100px;
    position: relative;
    top: 90px;

}
.card-body{
    background-color: white;
    width: 230px;
    height: 360px;
    padding: 10px;
    margin: 1px 1px 1px 1px;
    position: relative;
    left: 450px;
    border-radius: 50px;
    box-shadow: 2px 2px 4px white;

    
}
.day{
    font-family: cursive;
    color: rgb(180, 10, 10);
    text-align: center;
}
.card-head{
    font-family: sans-serif;
    color: rgb(146, 2, 2);
    text-align: center;
    font-weight: bold;
}
.card-text{
    font-family: sans-serif;
    color: rgb(5, 126, 11);
    text-align: center;
    font-weight: bold;
    justify-content: center;
}

h3{
    text-align: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    width: 260px;
    position: relative;
    top: 100px;
    left: 690px;
    border-radius: 30px;
}
h6{
    text-align: center;
    justify-content: center;
    padding: 4px;
    background-color: white;
    width: 260px;
    position: relative;
    top: 90px;
    left: 710px;
    border-radius: 30px;

} 

.img img {
    position: relative;
    top: 850px;
    left: 750px;
    width: 250px;
    mix-blend-mode:multiply;
    filter: contrast(2);
    fill-opacity: 3000px;
    
}
h4{
    color: white;
    position: relative;
    left: 1000px;
    top: 500px;
    font-size: 40px;
    text-shadow: 1px 1px 5px white;
}